@import '../../../../utils/mixins.scss';
@import '../../../../utils/variables.scss';

.airComponent {
    display: flex;

    .description {
        display: flex;
        flex-direction: column;
    }
}