@import '../../../../utils/mixins.scss';
@import '../../../../utils/variables.scss';

.airComponent {
    display: flex;

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .full {
            font-size: 1.2em;
        }

        .short {
            text-transform: uppercase;
        }

        .value {
            font-size: 0.8em;
        }
    }

    .message {
        line-height: 1.2;
    }
}