@import '../../../../utils/mixins.scss';
@import '../../../../utils/variables.scss';

.navlink,
.active {
    position: absolute;
    width: 50px;
    top: 20px;
    padding: 3px 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    font-size: 12px;
    z-index: 5;
    @include onfocus;

    .time {
        @include transEaseInOut(all, 0.2s);
    }

    .icon {
        width: 40px;
        height: 40px;
        transform: scale(1);
        -webkit-transform: scale(1);
        @include transEaseInOut(all, 0.2s);
    }
}

.active {
    .time {
        margin-top: -2px;
        color: $activeColor;
        font-size: 14px;
    }

    .icon {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}