@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.temperature {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        font-size: 100px;
    }
}

@include for-phone {
    .temperature {
        span {
            font-size: min(15vw, 80px);
        }
    }
}