@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
    width: 100%;
    padding: 10px 30px;
    border-radius: 18px;
    @include block-bg;

    .logo {
        display: inline;
        font-size: 0.8em;
    }

    h3 {
        color: $activeColor;
        align-self: center;
    }

    h4,
    strong {
        color: $activeColor;
        margin: 0;
    }

    li {
        margin: 0 0 15px 15px;
        list-style:circle;
    }

    .contacts {
        display: flex;
        gap: 15px;
    }

    a {
        cursor: pointer;
        height: 1.5em;
        width: 2em;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

    .mail {
        background-image: url(../../../assets/icons/mail.svg);
    }
    .linkedin {
        background-image: url(../../../assets/icons/linkedin.svg);
    }

    .github {
        background-image: url(../../../assets/icons/github.svg);
    }


