@import '../../../../utils/mixins.scss';
@import '../../../../utils/variables.scss';

.cell {
    white-space: wrap;
    text-align: left;
    width: 10%;
}

.wind {
    width: 80px;
    p {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}


.weatherIcon {
    width: 60px;
}

.weather {
    width: 140px;;
}

.popr,
.weather {
    text-align: left;
}

.tempExtr {
    text-align: right;
}

.icon {
    min-width: 30px;
    width: 8%;
}

.value {
    text-align: right;
    width: max-content;
    white-space: nowrap;
}

.key {
    width: 100%;
}

@include for-phone {
        .wind,
        .weather {
            display: none
        }

        .weatherIcon {
            svg {
            width: 40px;
            height: 40px;
            }
        }

        .value {
            white-space: unset;
        }
}