@import '../../../../utils/mixins.scss';
@import '../../../../utils/variables.scss';


.datetime {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 5px 0;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    border-bottom: 1px solid currentColor;
    padding-bottom: 15px;
    height: max-content;
}