@import '../../utils/mixins.scss';

.main {
    padding: 5px 0;
    height: 100%;

    .container {
        flex-direction: column;
        height: calc(100% - 35px);
    }

    .wind {
        margin-right: 5px;
    }
}

@include for-phone {
    .main {
        .container {
            height: calc(100% - 50px);
        }
    }
}

@include for-phone-horiz {
    .main {
        .container {
            height: auto;
        }
    }
}
