@import '../../utils/mixins.scss';

.main {
    padding: 5px 0;
    height: 100%;

    .container {
        flex-direction: column;
        justify-content: space-around;
    }

    .wind {
        margin-right: 5px;
    }
}
