@import '../../utils/mixins.scss';

.main {
    padding: 5px 0;
    height: 100%;

    .container {
        height: calc(100vh - 60px);
        flex-direction: column;
        justify-content: space-between;
    }

    .wind {
        margin-right: 5px;
    }
}

@include for-phone {
    .container {
    height: calc(100vh - 70px);
    }
}
