@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.chartMain {
    width: 150px;
    font-size: 64px; 
}

.chartTable {
    width: 90px;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

@include for-phone {
    .chartMain {
        width: 20vh;
        font-size: 24px; 
    }
    
    .chartTable {
        width: 80px;
        font-size: 22px;
    }
}