@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.weather {
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    p {
        &::first-letter {
            text-transform: uppercase;
        }
    }

    svg {
        width: 100%;
        height: 100%;
    }
}