@import '../../../../utils/mixins.scss';
@import '../../../../utils/variables.scss';

tr {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    flex: 1;

    &:last-of-type {
        border-bottom: none;
    }
}

@include for-phone {
    .row {
        border-bottom: 1px solid rgb(255, 255, 255);
        font-size: 12px;
        height: 50px;
    }
}
