@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.navigation {
    display: flex;
    @include block-bg;
    min-height: 30px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    border-radius: 18px;

    .navlink {
        width: 60px;
        text-align: center;
        font-size: 10px;
        transition: all 0.3s ease-in-out;
    }

    .active {
        width: 60px;
        text-align: center;
        font-size: 10px;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        color: #ffbf00;
    }

}

.back {
    position: relative;
    width: 60px;
    height: 30px;

    &::after {
        content: 'main';
        position: absolute;
        text-transform: lowercase;
        font-size: 9px;
        left: 4px;
        top: 20px;
    }
}
