@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.tableBlock {
    width: 100%;
    background-color: $blocksBGC;
    padding: 20px 0 10px;
    position: relative;
    overflow-y: hidden;
    flex: 1;

    &::before {
        content: 'Click a day to see forecast by hourly';
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .tableContainer {
        height: 100%;
        overflow-y: auto;
        scroll-behavior: smooth;
        padding: 0 20px;

        &::-webkit-scrollbar {
            display: none;
        }

        .table {
            width: 100%;
            border-collapse: collapse;

            tr {
                border-bottom: 1px solid rgb(255, 255, 255);

                &:last-of-type {
                    border-bottom: none;
                }

                td {
                    text-align: center;

                    img {
                        width: 10px;
                        height: 30px;
                    }
                }
            }

            .date,
            .image {
                text-align-last: left;
            }

            .wind {
                background-image: url(../../../assets/icons/windicon.svg);
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: 12% center;
            }

            .temperature {
                text-align: right;
            }

        }
    }
}

@include for-phone {
    .tableBlock {
        padding: 30px 10px 5px;

        &::before {
            content: 'Touch a day to see forecast by hourly';
            top: 5px;
        }

        .table tr {
            border-bottom: 1px solid rgb(255, 255, 255);

            td {

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            .wind,
            weather {
                display: none
            }
        }
    }
}