@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.modalContainer {
    display: flex;
    padding-top: 50px;
    position: absolute;
    width: 100vw;
    height: 100lvh;
    top: 0;
    left: 100vw;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 21;
    @include transEaseInOut(all, 0.3s);

    &_active {
        left: 0;
    }

    .modal {
        position: absolute;
        margin: auto;
        width: 300px;
        padding: 30px 20px;
        background-color: rgba(22, 22, 43, 1);
        z-index: 22;
        height: 100%;

        .close {
            position: absolute;
            cursor: pointer;
            width: 15px;
            height: 15px;
            left: 15px;
            top: 15px;
        }

        .row {
            font-size: 18px;
            text-transform: capitalize;
            height: 80px;
        }
    }
}

@include for-phone-horiz {
    .modalContainer {
        height: 100vh;

        .modal {
            display: flex;
            flex-direction: column;
            top: 0;
            height: 100vh;

            .row {
                font-size: 14px;
                min-height: 30px;
                flex-grow: 1;
            }
        }
    }
}