@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.modalContainer {
    position: absolute;
    height: 100lvh;
    width: 0;
    padding-top: 50px;
    top: 0;
    right: 0;
    z-index: 21;

    .modal {
        position: absolute;
        margin: auto;
        width: 300px;
        right: -300px;
        padding: 30px 20px;
        background-color: rgba(22, 22, 43, 1);
        height: 100%;
        z-index: 22;
        @include transEaseInOut(all, 0.3s);

        .close {
            position: absolute;
            cursor: pointer;
            width: 15px;
            height: 15px;
            left: 15px;
            top: 15px;
        }

        .row {
            font-size: 18px;
            text-transform: capitalize;
            height: 80px;
        }
    }

    &_active {
        width: 100vw;

        .modal {
            transform: translate(-300px, 0);
            box-shadow: -2px -2px 20px rgb(0, 0, 0, 0.7);
        }
    }
}

@include for-phone-horiz {
    .modalContainer {
        height: 100vh;

        .modal {
            display: flex;
            flex-direction: column;
            top: 0;
            height: 100vh;

            .row {
                font-size: 14px;
                min-height: 30px;
                flex-grow: 1;
            }
        }
    }
}