@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.doughnut {
    position: relative;

    .percents {
        position: absolute;
        top: calc(55% - 0.55em);
        width: 100%;
        text-align: center;
        line-height: 1;
    }
}