@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.header {
    background-color: $blocksBGC;
    font-size: 1rem;
    backdrop-filter: blur(3px);

    .container {
        position: relative;
        padding: 0 30px;
        width: auto;
        justify-content: space-between;
        gap: 10px;
    }

    .logo {
        color: white;
        text-shadow: -1px -1px 0 rgb(100, 100, 100), 1px -1px 0 rgb(100, 100, 100), -1px 1px 0 rgb(100, 100, 100), 1px 1px 0 rgb(100, 100, 100);
        font-size: 12px;
        background-image: url(../../assets/icons/logo.svg);
        background-position: left bottom;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 18px 0 18px 18px;
        width: 125px;
    }

    .location {
        padding: 10px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 15px;

        svg {
            width: 16px;
            padding-top: 5px;
        }
    }

    .btn_container {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        gap: 5px;
    }

    .settings {
        width: 34px;
        height: 34px;
        background-image: url(../../assets/icons/setting.svg);
        background-position: center top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .menu {
        width: 35px;
        height: 35px;
        background-image: url(../../assets/icons/menu.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@include for-phone {
    .header {
        height: fit-content;

        .logo {
            display: none;
        }

        .location {
            padding-left: 0;
        }
    }
}