@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.header {
    font-size: 1rem;
    @include block-bg;
    margin-bottom: 5px;

    .container {
        padding: 0 30px;
        width: auto;
        justify-content: space-between;
        gap: 10px;
    }

    .location {
        padding: 10px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 15px;

        svg {
            width: 16px;
            padding-top: 5px;
        }
    }

    .btn_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5px;
    }

    .settings,
    .menu {
        position: relative;
        padding: 3px 3px;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        @include transEaseInOut(border-color, 0.1s);
        @include transEaseInOut(transform, 0.5s);

        &_active {
            border-color: currentColor;
            transform: rotate(90deg);
        }

        &_disabled {
            color: transparent;
            pointer-events: none;
        }
    }
}

@include for-phone {
    .header {
        height: fit-content;

        .container {
            padding: 0 10px;
        }

        .logo {
            display: none;
        }

        .location {
            padding-left: 0;
        }
    }
}

@include for-phone-horiz {
    .header {
        position: sticky;
        top: 0;
        z-index: 20;
    }
}