@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.formContainer {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    width: max-content;
    padding: 2px;

    form {
        position: relative;
        width: fit-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 18px;
        transition: border-color 1.2s cubic-bezier(1, 0, 1, 0);
        overflow: hidden;

        &:focus-within {
            border-color: currentColor;
            transition: border-color 1s cubic-bezier(0, 1, 0, 1);
        }

        .input {
            position: relative;
            font-size: 14px;
            width: 0;
            height: 30px;
            color: transparent;
            caret-color: transparent;
            outline: none;
            @include transEaseInOut(all, 1s);

            &_active {
                color: inherit;
                padding: 2px 15px 2px 5px;
                width: 190px;
                caret-color: currentColor;
            }
        }

        .search {
            width: 30px;
            height: 30px;
            padding: 5px 0;
            cursor: pointer;
            outline: none;
            @include transEaseInOut(all, 0.1s);

            &:hover {
                background-size: 18px;
                padding: 2px 0;
            }
        }

        .clear {
            cursor: pointer;
            width: 10px;
            height: 10px;
            color: transparent;
            position: absolute;
            right: 35px;
            pointer-events: none;
            @include transEaseInOut(all, 0.2s);

            &_active {
                transform: scale(3);
                color: inherit;
                pointer-events: unset;
                @include onfocus;
            }
        }
    }
}

.logo_active {
    width: 315px !important;
    @include transEaseInOut(width, 1s);
}

.popover {
    font-size: 80%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: 5;
    @include block-bg;
}

.list {
    background-color: transparent;
    border-radius: 10px;
}

.option {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    height: 40px;
    padding: 12px 5px;

    &:first-of-type {
        border-radius: 8px 8px 0 0;
    }

    &:last-of-type {
        border-radius: 0 0 8px 8px;
        border-bottom: none;
    }

    &_noresults {
        font-size: 12px;
        text-align: center;
    }

    &[aria-selected='true'],
    &:hover,
    &:focus {
        background-color: rgba(0, 0, 0, 0.4);
        color: $activeColor;
    }
}

@include for-phone {
    .formContainer {
        margin-left: 5px;

        .input &_active {
                width: 135px !important;
            }

            .search {
                right: 12px;
                top: 2px
            }
        }

    .popover {
        width: 165px !important;
    }
}