@import '../../../../utils/mixins.scss';
@import '../../../../utils/variables.scss';

.extended {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include block-bg;
    padding: 10px 20px;
    line-height: 1;
    flex: 1;

    .datetime {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 5px 0;
        margin-bottom: 5px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 15px;
        border-bottom: 1px solid currentColor;
        padding-bottom: 15px;
        height: 120px;

        .part {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:first-of-type {
                min-width: 50%;
            }
        }

        .sun {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 7px;
            margin-left: 20px;
        }

        .temperature {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
                font-size: 100px;
            }
        }

        .weather {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-right: 10px;

            &_text {
                text-align: center;

                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }

    .body {
        display: flex;
        flex: 1;
        justify-content: space-between;
        gap: 30px;

        table {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-grow: 1;

            tbody {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            .row {
                display: flex;
                align-items: center;
                padding: 5px 0;
                flex-grow: 1;
            }
        }
    }
}

@include for-phone {
    .extended {
        font-size: 14px;

        .header {
            height: 15svh;

            .part {
                gap: 5px;
            }

            .temperature {
                span {
                    font-size: 14svh;
                }
            }

            .weather {
                svg {
                    width: 10svh;
                    height: 10svh;
                }

                p {
                    margin-top: 0px;
                }
            }

            .sun {
                display: flex;
                flex-direction: column;
                align-items: center;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .body {
            gap: 0;

            table {
                gap: 10px;

                .row {
                    padding: 2px 0;
                    min-height: 40px;
                    flex: 1;
                }
            }
        }
    }
}