@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.chartBlock {
    position: relative;
    width: 100%;
    height: 170px;
    background-color: $blocksBGC;
    overflow-y: hidden;
    scroll-behavior: smooth;
    font-size: 12px;

    &::-webkit-scrollbar {
        display: none;
    }

    .title,
    .details,
    .tip {
        position: fixed;
        font-weight: 300;
        padding-top: 5px;
        right: calc((100vw - 850px)/2 + 5px);
    }

    .title {
        right: calc((100vw - 850px)/2 + 5px);
    }

    .details {
        bottom: 246px;

        &::after {
            right: calc((100vw - 850px)/2 + 5px);
            content: 'click to see details';
            text-decoration: underline;
        }
    }

    .tip {
        bottom: 246px;
         display: flex;
        gap: 15px;
        left: calc((100vw - 850px)/2 + 20px);
    }


    .chart {
        width: 2110px;
        overflow: hidden;
        cursor: grab;
        padding-top: 65px;
        margin-left: -20px;
    }
}

@include for-tablets {
    .chartBlock {
        .title, 
        .details {
            right: 20px;
        }

        .details::after {
            content: 'touch to see details';
        }

        .tip {
            left: 40px;
        }
    }
}

@include for-phone {
    .chartBlock {
        font-size: 10px;


    .tip,
    .details {
        bottom: 190px;
    }

    .tip {
        gap: 10px;
    }
}
}