@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.chartBlockContainer {
    width: 100%;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.chartBlock {
    height: 170px;
    overflow-y: hidden;
    font-size: 12px;
    @include block-bg;

    .chart {
        position: relative;
        width: 1300px;
        overflow: hidden;
        cursor: grab;
        padding-top: 65px;
        margin-left: -20px;
    }
}

.title,
.details,
.tip {
    position: absolute;
    font-size: 12px;
    z-index: 5;
}

.title {
    top: 5px;
    right: 5px;
}

.details {
    bottom: 2px;
    width: 150px;
    right: 5px;
    text-align: right;

    &::after {
        content: 'click to see details';
        text-decoration: underline;
    }
}

.tip {
    width: max-content;
    bottom: 2px;
    display: flex;
    gap: 15px;
    left: 15px;
}

@include for-tablets {
        .title, 
        .details {
            right: 20px;
        }

        .details::after {
            content: 'touch to see details';
        }

        .tip {
            left: 20px;
        }
    }

@include for-phone {
    .title {
        font-size: 10px;
    }

    .tip,
    .details {
        font-size: 10px;
    }

    .tip {
        gap: 10px;
    }
}



@include for-phone-horiz {
    .tip,
    .details {
        bottom: 0;
    }
}