@import './utils/mixins.scss';
@import './utils/variables.scss';

.App {
    position: relative;
    display: flex;
    flex-direction: column;    
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

@include for-phone-horiz {
    .App {
        height: min-content;
    }
}