@import './utils/mixins.scss';
@import './utils/variables.scss';

.App {
    position: relative;
    display: flex;
    flex-direction: column;    
    height: 100vh;
    overflow: hidden;
}

@include for-phone-horiz {
    .App {
        height: max-content;
        overflow: auto;
    }
}