@import './utils/mixins.scss';
@import '@fontsource/oxygen';

// html {
//   overflow-y: hidden;
// }

* {
  box-sizing: border-box;
  scrollbar-width: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  -webkit-background-size: 100vw;
  -moz-background-size: 100vw;
  -o-background-size: 100vw;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;

  color: rgb(255, 255, 255);
  font-family: 'Oxygen';
  font-size: 16px;
  line-height: 1.2;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button,
input {
  background-color: transparent;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

@include for-phone-horiz {
  body {
    overflow-y: auto;

  }
  .modalOpen {
    overflow: hidden;
  }
}

@include for-phone {
  body {
    font-size: 12px;
  }
}
