@import './utils/mixins.scss';
@import '@fontsource/oxygen';

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

  color: rgb(255, 255, 255);
  font-family: 'Oxygen';
  font-size: 16px;
  line-height: 1.2;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button,
input {
  background-color: transparent;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

@include for-phone {
  body {
    font-size: 12px;
    background-size: auto 110vh;
  }
}

@include for-phone-horiz {
  body {
    background-size: 110vh auto;
  }
}