@import './utils/mixins.scss';
@import '@fontsource/oxygen';

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  width: 100vw;
  max-height: 100vh;
  background-image: url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Oxygen';
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  box-sizing: border-box;
}

p {
  margin: 0;
}

button,
input {
  border: none;
  padding: 0;
}

@include for-phone {
  body {
    background-image: url(../src/assets/bg_phone.PNG);
    font-size: 12px;
  }
}